.venv
venv
.env
env
/script_mock_data/data/routes

*vpp.lck
*.vpp.bak*

tmp
.lock
.vpprefdata

.vs_code

abd2025-474614-0f6559dd27d0.json
gtfs-metro
gtfs-stcp
*.zip
*.osm.pbf

target/

.vscode/
.idea/
.github/
.ini
*.ini
benchmark_results/

